div.css-1u2x8w9.teko-col {
    min-height: 0px;
}
  
div.css-em4mod {
    padding: 0 0 0 0;
}
  
div.css-e0moh2 {
    padding: 0 0 0 0;
}
  
div.css-1217vmo {
    min-height: 0px;
    visibility: hidden;
}
  
div.bg-lazy.bg-visible-lazy.css-e0moh2 {
    visibility: hidden;
}

* {
    margin: 0 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

#inft {
    z-index: 20010;
    cursor: pointer;
    position: fixed;
    top: 3vw;
    right: 3vw;
    font-size: 2.25vw;
    /* color: #f1f1f1; */
}

#inft:hover {
    color: #525252;
}

#moveUp {
    visibility: hidden;
    z-index: 20010;
    cursor: pointer;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    font-size: 2.25vw;
    padding: 0.5vw;
    border: 0.2vw solid rgba(255, 255, 255, .5);
    /* color: #f1f1f1; */
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

#moveUp:hover {
    border: 0.2vw solid rgba(155, 155, 155, 0.5);
    backdrop-filter: blur(30px);
}

.hiddenScroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    width: 100vw;
    height: auto;
    overflow: hidden;
}
.menu {
    position: fixed;
    z-index: 1000;
    margin-top: 3vh;
    margin-left: 3vw;
}

.infb {
    position: fixed;
    z-index: 1020;
    width: 30vw; 
    background-color: rgba(255, 255, 255, 0.925);
    padding: 3vh 3vw 3vh 3vw;
    border: none;
    transition: 2s;
}

.infb:hover {
    cursor: pointer;
    background-color: rgb(253, 253, 253);
}

.ps1 {
    margin-top: -100vh;
    margin-left: 200vh;
}

.ps2 {
    margin-top: 5vh;
    margin-left: 62vw;
}

.footer {
    background-color: aquamarine;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 2.75vh;
    padding-bottom: 4vh;
}

.main-build {
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.top {
    background-image: url("https://scontent.fhan17-1.fna.fbcdn.net/v/t1.15752-9/467042331_1507457727311693_531033667048695799_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeHePu6ZGjeku9ohkEQw-mBKeGJoRtwH5kJ4YmhG3AfmQpYxRaF0jUsXO9KkycE8XZDwCMFtCq5ZZwFTxJeB6SL0&_nc_ohc=pkDj_BqmpmEQ7kNvgG03u-S&_nc_zt=23&_nc_ht=scontent.fhan17-1.fna&oh=03_Q7cD1QHs9u2gltj3Z-kbCpH2AF2qAUlL8LCeg9XTVNzYMWY8Ug&oe=67628E8C");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hst {
    background-image: url("https://img.freepik.com/premium-photo/vintage-old-brown-paper-texture-background-kraft-paper-horizontal-with-unique-design-paper-soft-natural-paper-style-aesthetic-creative-design_364465-124.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(247, 247, 247); */
}

.hstq {
    position: absolute;
    top: 110vh;
    left: 15.5vw;
    width: 70vw;
    padding: 5vh 5vw 5vh 5vw;
    border-radius: 2vw;
    box-shadow: #525252 0.2vh 0.2vw 0.4vh 0.2vw;
    backdrop-filter: blur(20px);
}

.hst1 {
    position: absolute;
    top: 147vh;
    left: 16.5vw;
}

.hstp1 {
    width: 30vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgba(204, 240, 228, 0.836);
}

.hst2 {
    direction: rtl;
    position: absolute;
    top: 147vh;
    right: 15.5vw;
}

.hstp2 {
    direction: ltr;
    width: 30vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgba(240, 227, 204, 0.836);
}

.tday {
    /* background-color: rgb(253, 210, 225); */
    background-image: url("https://img.freepik.com/free-vector/blue-certificate-background-gold-modern-border-vector_53876-156358.jpg?t=st=1731694622~exp=1731698222~hmac=587c101397348ef50df16a7e66adbce82e2b52e02daf658f0622225c23110278&w=1380");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.td1 {
    position: absolute;
    z-index: 1000;
    top: 215vh;
    left: 35.5vw;
    width: 30vw;
    padding: 6vh 4vw 6vh 4vw;
    background-color: rgb(250, 250, 250);
    border: solid rgba(204, 240, 228, 0.836) 0.3vw;
    border-radius: 2vw;
}

.td1:hover {
    cursor: pointer;
}

.td2 {
    position: absolute;
    z-index: 1010;
    top: 215vh;
    left: 35.5vw;
    width: 30vw;
    padding: 6vh 4vw 6vh 4vw;
    background-color: rgb(250, 250, 250);
    border: solid rgba(204, 240, 228, 0.836) 0.3vw;
    border-radius: 2vw;
}

.td2:hover {
    cursor: pointer;
}

.changes {
    /* background-color: rgb(187, 200, 211); */
    background-image: url("https://img.freepik.com/free-vector/flying-gift-box-with-paper-heart-balloons-valentines-day-banner_1017-36043.jpg?t=st=1731699237~exp=1731702837~hmac=9fe22dd55555c03cb87364b1cb6f26d384280677c2962ca10e588649f7ba064c&w=1380");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chg1 {
    position: absolute;
    top: 315vh;
    left: 25.5vw;
}

.chgp1 {
    width: 35vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgb(250, 250, 250);
}

.chg2 {
    position: absolute;
    top: 337vh;
    left: 25.5vw;
}

.chgp2 {
    width: 35vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgb(250, 250, 250);
}

.memories {
    /* background-color: rgb(252, 220, 160); */
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?t=st=1731701544~exp=1731705144~hmac=7c8a6158f3283779422c4bdca2d7356b34aab282502f1d88fc9be28b0c458dda&w=1380");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ms1 {
    position: absolute;
    top: 425vh;
    left: 14vw;
}

.msp1 {
    width: 35vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgb(250, 250, 250);
}

.ms2 {
    direction: rtl;
    position: absolute;
    top: 457vh;
    left: 14vw;
}

.msp2 {
    direction: ltr;
    width: 30vw;
    padding: 2vh 2vw 2vh 2vw;
    background-color: rgb(250, 250, 250);
}

.wishes {
    /* background-color: rgb(187, 236, 113); */
    background-image: url("https://img.giaoduc.net.vn/1200x630/Uploaded/2024/cadwpmdwp/2024_10_17/gdvn-td-2852.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wa {
    position: absolute;
    top: 525vh;
    left: 20vw;
    width: 60vw;
    padding: 3vh 2vw 3vh 2vw;
    background-color: rgba(34, 34, 34, 0.623);
}

.mid-text {
    background-color: rgba(51, 50, 50, 0.479);
    position: absolute;
    margin-top: 30vh;
    margin-left: 12vw;
    padding-top: 5vh;
    padding-left: 3vw;
    display: flex;
}

.open {
    margin-left: 14vw;
}

.nav {
    z-index: 1001;
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.triangle {
    width: 30vw;
    height: 30vh;
    margin-top: -18vh;
    margin-left: -13vw;
    position: fixed;
    z-index: 1000;
    transform: rotate(140deg);
    background-color: rgba(34, 34, 34, 0.623);
}

.color1 {
    transition: 1s;
    transform: scaleX(5vw);
    color: #fffefe; ;
}

.color1:hover {
    transition: .75s;
    color: #d6d6d6d0; ;
}

.color2 {
    color: rgb(48, 48, 48);
}

.color2:hover {
    transition: .75s;
    color: rgb(97, 97, 97);
}

.pos1 {
    display: flex;
    justify-content: center;
}

.size1 {
    font-size: 2vw;
}

.psize1 {
    width: 2.5vw;
}

.psize2 {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 1.75vw;
}

.imgm {
    position: fixed;
    margin-top: -3vh;
    margin-left: -3vw;
    width: 26vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.925);
}

img {
    object-fit: cover;
    object-position: center;
}

.img1 {
    height: 15vh;
    width: 10.5vw;

}

.img1:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.img2 {
    height: 16vh;
    width: 10.5vw;
}

.img2:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.img3 {
    width: 40vw;
}

.img3:hover {
    cursor: pointer;
    z-index: 10000;
    transform: scale(1.2);
}

.img4 {
    width: 40vw;
}

.img4:hover {
    cursor: pointer;
    z-index: 10000;
    transform: scale(1.2);
}

.img5 {
    width: 13vw;
}

.img5:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.img6 {
    height: 15vh;
}

.img6:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.img7 {
    height: 23vh;
}

.img7:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.img8 {
    width: 30vw;
}

.img8:hover {
    z-index: 10000;
    transform: scale(1.5);
}

.t1 {
    font-size: 1vw;
}

.t2 {
    font-size: 1vw;
}

.t3 {
    font-size: 1vw;
}

.t4 {
    font-size: 1vw;
}

.t5 {
    font-size: 1vw;
}

.textm {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    color: rgb(37, 37, 37);
    position: fixed;
    font-weight: bold;
    margin-top: 5vh;
    margin-left: 9vw;
    z-index: 1001;
}

.textm2:hover {
    cursor: pointer;
    transition: 1s;
    color: rgb(128, 128, 128);
}

.textp {
    font-size: 1vw;
}

.textq {
    font-size: 2vw;
    text-align: center;
    color: #1d1300;
}

.tajawal-light {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mea-culpa-regular {
    font-family: "Mea Culpa", cursive;
    font-weight: 600;
    font-style: normal;
}

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    visibility: hidden;
}
